

    body {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        background-color: #3700ff;
        background-size: 65px;
        color: #fceaff;
    }

    * {
        box-sizing: border-box;
    }


    #container {
        max-width: 900px;
        margin: 0 auto;
       
    }

    #container a {
        font-weight: bold;
      
    }

    #flex {
        display: flex;
    }



    main {
        flex: 1;
        padding: 20px;
        order: 2;
    }




    h1,
    h2,
    h3 {
        color: #ED64F5;
    }

    h1 {
        font-size: 25px;
    }

    strong {
        color: #ED64F5;
    }

    #topBar {
        width: 100%;
        height: 30px;
        padding: 10px;
        font-size: smaller;
        background-color: #13092D;
    }




    @media only screen and (max-width: 800px) {
        #flex {
            flex-wrap: wrap;
        }

        aside {
            width: 100%;
        }

        main {
            order: 1;
        }

        #leftSidebar {
            order: 2;
        }

        #rightSidebar {
            order: 3;
        }

        #navbar ul {
            flex-wrap: wrap;
        }
    }
